/* Styles for overall structure and layout */
body {
    background-color: lightslategray;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin:30px;
    color: lightblue;
}

.contentWrapper {
    display: flex;
    align-items: center;
}

.controlsMenu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 20px;
    gap: 15px;
}

/* Styles for grid  */

.gridItem {
    background-color: white;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    padding: 10px;
    background-color: lightslategray;
    flex: 3;
    margin: 20px;
}

/* Controls Panel styles */

h2 {
    text-align: center;
    font-size: 25px;
    color:lightblue;
    border-bottom: 2px solid lightblue;
}

label {
    font-size: 22px;
    font-weight: 800;
    color: lightblue;
}

.fillColor {
    width: 60px;
    height: 60px;

}

button {
    background-color: slategray;
    color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
}

button:hover {
    background-color: aliceblue;
}

button:active {
    opacity: 50%;
}